<h1>New Game</h1>

<div class="box">
  <% @letters.each do |letter| %>
      <div class="letter"> <%=  letter  %> </div>
  <% end%>
</div>
<p>What is the longest word you can find?</p>
<form action="/score" method="post" data-turbo="false">
  <input class="form-control" type="text" name="score">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>

</form>
